*,
body {
    margin: 0;
}

body,
html {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto 2rem;
}

.project__header {
    text-align: center;
    width: 95%;
    margin: 2rem 0;
}

.project__logo {
    width: 33%;
}

.project__title {
    font-size: 1.4rem;
    margin-top: 5px;
}

.project__description {
    font-size: 1rem;
}

@media (min-width: 800px) {
    .project__logo {
        width: 10%;
    }

    .project__title {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .project__description {
        font-size: 1.5rem;
    }
}

/* Pi form */

.form__body {
    width: 100%;
    margin: 2rem 0;
    padding: 0.7rem;
}

.form__title {
    font-size: 1.4rem;
    margin-right: 1rem;
    line-height: 1.4rem;
}

.form__section {
    margin: 5px 0;
}

.form__select {
    font-size: 0.8rem;
}

.pi__form--button {
    margin: 15px 0 0 0;
}

@media (min-width: 800px) {
    .pi__form {
        display: flex;
        align-items: center;
    }

    .form__group {
        display: flex;
    }

    .form__section {
        margin: 0 1rem;
        display: flex;
        align-items: center;
    }

    .form__section--model {
        width: 450px;
    }
    
    .form__section--currency {
        width: 155px;
    }

    .form__select {
        font-size: 1rem;
    }

    .pi__form--button {
        margin: 0 0 0 10px;
    }
}

.form__label {
    margin-right: 10px;
    margin-bottom: 0;
}

/* pi list */

.piList__body {
    width: 100%;
}

.pi__table--row,
.pi__table--head {
    font-size: 0.8rem; 
}

.piList__header {
    text-align: center;
    position: relative;
}

.piList__header--refresh__btn {
    position: absolute;
    top: 0;
    right: 0;
}

.re-scrape__text {
    display: none;
}

.piList__header--title {
    font-weight: bold;
    font-size: 1.3rem;
}

.piList__table {
    margin-top: 1rem;
    text-align: left;
}

.table-data--currencies {
    max-width: 100px;
}

.table-data__button-group {
    display: flex;
}

.table-data__button {
    flex: 1;
}

.fontAwesomeIcon {
    font-size: 0.8rem;
}

.table-data__button {
    padding: 0;
}

.table-data__button--help {
    position: relative;
}

.helpIcon {
    position: absolute;
    right: 3px;
    top: 3px;
}


@media (min-width: 800px) {
    .pi__table--row,
    .pi__table--head {
        font-size: 1rem;
    }

    .table-data__button {
        padding: 0.375rem 0.75rem;
    }

    .re-scrape__icon--text {
        display: none;
    }

    .re-scrape__text {
        display: inline-block;
        margin-left: 5px;
    }

    .fontAwesomeIcon {
        font-size: 1rem;
    }
}

/* Project Footer */
.project__footer {
    width: 100%;
    display: flex;
}

.project__footer .saveSettings__btn {
    flex-grow: 10;
}

:disabled {
    background-color: lightgrey;
}

.disable_save_override {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 800px) {
    .disable_save_override {
        margin-top: 1rem;
        width: 60%;
    }
}